@keyframes textAnimation {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* * {
    background-color: ivory;
} */

.topnav {
    top: 0;
    right: 0;
    height: 35px;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
    margin-inline: -10px;
    margin-top: -10px;
    background-color: grey;
    opacity: 0.65;
    position: sticky;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    word-spacing: 0.5em;
}

.topnav a {
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
    text-decoration: underline;
}

.header {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    animation: textAnimation 3s;
}

.intro {
    color: gray;
    font-size: 24px;
}

.body-text {
    color: black;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align: center;
}

.intro {
    padding-left: 200px;
    padding-right: 200px;
}

.experience {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.experience::after {
    content: '';
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.left-block {
    left: 0;
}

.right-block {
    left: 50%;
}

.left-block::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid grey;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent grey;
}

